<div class="flex justify-around mb-4">
  <span class="font-bold">
    Filtrer :
  </span>
  <span>
    <input
      type="checkbox"
      class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500"
      [checked]="filterActive"
      (click)="onToggleFilterActive()"
      name="filterActive"
      id="filterActive"
    />
    En attente
  </span>
  <span>
    <input
      type="checkbox"
      class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500"
      [checked]="filterDone"
      (click)="onToggleFilterDone()"
      name="filterDone"
      id="filterDone"
    />
    Terminées
  </span>
</div>
@for (task of tasks$ | async; track $index) {
<div [hidden]="hideTask(task)">
  <digi-todo-item
    [task]="task"
    (remove)="onDelete($event)"
    (toogleCompletion)="onToggleTaskCompletion($event)"
  />
</div>
}
