<div>
  <form (submit)="addTask()">
    <div class="mb-5">
      <label
        for="newTask"
        class="block mb-2 text-sm font-medium text-gray-900"
        >Tâche à ajouter :
      </label>
      <input
        type="text"
        [(ngModel)]="newTask"
        name="newTask"
        id="newTask"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
      />
    </div>
    <div class="mb-5">
      <label
        for="priority"
        class="block mb-2 text-sm font-medium text-gray-900"
        >Priorité :
      </label>
      <input
        type="text"
        [(ngModel)]="priority"
        name="priority"
        id="priority"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
      />
    </div>
    <button
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      type="submit"
    >
      Ajouter
    </button>
  </form>
</div>
